<div ng-include="'components/navbar/navbar.html'"></div>

  <div class="container">
    <div class="col-sm-4">
      <div ng-include="'components/sidebar/sidebar.html'"></div>
    </div>
    <div class="col-sm-8" id="general-settings">
      <div class="container-fluid panel">
		
			<header>General Settings</header>
			<hr/>
			<form name="genrealSettingsForm" ng-submit="save()" novalidate>
				<div class="row">
					<div class="col-xs-3">
						Name
					</div>
					<div class="col-xs-9">
						<input type="text" ng-model="User.name" required>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						Profile
					</div>
					<div class="col-xs-3 pic">
						<img ng-src="{{User.avatar || 'assets/images/default_avatar.gif'}}" class="fit-img">

					</div>
					<div class="col-xs-3">
						<!-- <input type="file" file-model="myFile" onchange="angular.element(this).scope().uploadImage()"/> -->
						<input type="file" id="circular-file-input">
					</div>
				</div>

				<div class="row crop-row">
					<div class="col-xs-3">
						<button type="button" ng-click="cropIt()" class="btn btn-blue">Crop and Upload</button>
					</div>
					<div class="col-xs-9">
						<div class="cropArea">
							<img-crop image="myImage" result-image="myCroppedImage"></img-crop>
						</div>
					</div>
				</div>

				<Br/>

				<div>
					<div class="row">
						<div class="col-xs-3">
							New Password
						</div>
						<div class="col-xs-9">
							<input type="password" ng-model="password1" placeholder="Minimum 8 characters" ng-minlength="8">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							Retype Passwrd
						</div>
						<div class="col-xs-9">
							<input type="password" ng-model="password2" match="password1" placeholder="Must match new password" ng-minlength="8">
						</div>
					</div>

					
				</div>

			</form>

			<hr/>

			<div class="row">
				<div class="col-xs-3">
					
				</div>
				<div class="col-xs-9">
					<button class="btn btn-sky" ng-disabled="genrealSettingsForm.$invalid" ng-click="save()">Save Changes</button>
				</div>
			</div>

			<br/>
		</div>
    </div>
  </div>


<div ng-include="'components/footer/footer.html'"></div>


