footer#site-footer {
	text-align: center;
	margin-top: 20px;

	div.top {
		background-color: #2e3137;
		padding: 20px;
		color: white;
		i {
			margin: 5px;
		}
	}
	div.bottom {
		color: #adadad;
		background-color: #24262b;
		padding: 10px;
	}
}