<footer id="site-footer">
	<div class="container">
		<div class="col-sm-4">
			<h3><i class="fa fa-stop"></i> Contacts</h3>
			<p>
				<i class="fa fa-map-marker fa-2x"></i>
				Navi Mumbai, India	
			</p>
			<p>
				<i class="fa fa-phone fa-2x"></i>
				+0064 268 236
			</p>
			<p>
				<i class="fa fa-envelope-o fa-2x"></i>
				feedback@referdost.com
			</p>
			<p class="socials">
				<a href="https://www.facebook.com/pages/Employee-Referral-Engineering-Jobs-India/936977039657638" target="_black"><i class="fa fa-facebook-square "></i></a>
				<a href="https://twitter.com/referdostjobs" target="_black"><i class="fa fa-twitter-square "></i></a>
			</p>
		</div>
		<div class="col-sm-4">
			<h3><i class="fa fa-stop"></i> Our Mission</h3>
			<p>
				An exclusive platform for PREMIUM/BRANDED employee referral jobs ONLY. Refer people in you own company and earn handsome referral bonus OR get referred by an employee in your dream company.A common place to post jobs and company referrals and get referred in companies like Adobe, Amazon, Microsoft, Google, Facebook, DE Shaw, Qualcomm, HCL, Wipro, Infosys, TCS, IBM, CSC, Samsung and all major and minor IT companies but not limited to it.
			</p>
		</div>
		<div class="col-sm-4">
			<h3><i class="fa fa-stop"></i> Subscribe</h3>
			<p>
				Please, enter your email address to subscribe and get our jobs/updates.
			</p>
			<p>
				<input type="text">
				<button>Subscribe</button>
			</p>
		</div>
	</div>

	<!-- <div class="top">
		Follow us for instant updates
		<Br/>
		<i class="fa fa-facebook-square fa-2x"></i>
		<i class="fa fa-twitter-square fa-2x"></i>
		<i class="fa fa-google-plus-square fa-2x"></i>
	</div> -->

	<div class="bottom">
		© 2015 ReferDost. All rights reserved
	</div>
</footer>
